table {
    border-collapse: collapse;
    margin: 20px;
    text-align: center;
    margin: 0 auto;
    background-color: white;
    width: 80%; /* Örneğin, ekran genişliğinin 80%'i kadar genişlik */
}

td, th {
    border: 1px solid rgb(164, 179, 211);
    width: 8%; /* Örneğin, her hücre ekran genişliğinin 8%'i kadar genişlik */
    height: 40px;
    text-align: center;
}

.inputCell {
    width: 99%; /* Örneğin, her giriş hücresi ekran genişliğinin 8%'i kadar genişlik */
    height: 99%;
    text-align: center;
    font-size: 100%;
}

#info {
    margin-top: 12px;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    padding: 5%;
    font-family: 'Kanit', sans-serif;
}

#completeLevelLabel{
    font-weight: bold;
}

.infoEnd{
    text-align: center;
    margin-top: 10%;
    font-family: 'Kanit', sans-serif;
    color: white;
    font-size: 50px;
}

.infoEnd h1{
    font-family: 'Kanit', sans-serif;
    color: white;
    font-size: 70px;
}

.infoEnd p{
    margin-top: -40px;
}
