table {
    border-collapse: collapse;
    margin: 20px;
    text-align: center;
    margin: 0 auto;
    background-color: white;
}

td,
th {
    border: 1px solid rgb(164, 179, 211);
    width: 40px;
    height: 40px;
    text-align: center;
}

.inputCell {
    width: 39px;
    height: 39px;
    text-align: center;
    font-size: 40px;
}

#info {
    margin-top: 12px;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    padding: 5%;
    font-family: 'Kanit', sans-serif;
}

#completeLevelLabel{
    font-weight: bold;
}

.infoEnd{
    text-align: center;
    margin-top: 10%;
    font-family: 'Kanit', sans-serif;
    color: white;
    font-size: 50px;
}

.infoEnd h1{
    font-family: 'Kanit', sans-serif;
    color: white;
    font-size: 70px;
}

.infoEnd p{
    margin-top: -40px;
}